
# Example environment variables
DATABASE_URL=postgresql://user:pass@localhost:5432/dbname
SLIP2GO_API_KEY=WMwEoEjNiVPvRACu8Rc2CcDCQop1sbeW6vgxhJzOHJA
SLIP2GO_BASE_URL=https://connect.slip2go.com/api/verify-slip/qr-image/info

# Other variables used by the app
JWT_SECRET=replace_me
